##Spring Configuration
server:
  port: 8080
spring:
  application:
    name: ToDoApplication
  webflux:
    base-path: "api"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: /h2
  profiles:
    include:
